<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" width="device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" rel="stylesheet">
    <title>Symphonic Backline &middot admin</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col"><h2>Edycja głównych sekcji</h2></div>
        <div class="col"><p>Tutaj możesz edytować nazwy i opisy sekcji, które wyświetlają się u góry w nawigacji i głównym widoku</p></div>
      </div>
          {% for section in sections %}
          <div class="row">
          <form action="/edit_sections" method="POST">
            <table class="table">
              <tr>
                <td><input type="hidden" value="{{section.id}}" name="id" required hidden/></td>
                <td>{{section.id}}.</td>
                <td><input type="text" value="{{section.nazwa}}" name="nazwa" required/></td>
                <td><input type="text" value="{{section.name}}" name="name" required/></td>
                <td><textarea class="form-control" rows="5" name="opis" required>{{section.opis}}</textarea></td>
                <td><textarea class="form-control" rows="5" name="description" required>{{section.description}}</textarea></td>
                <td><label for="instrumentSection">Sekcja instrumentalna?</label><input type="checkbox" id="instrumentSection" name="instrumentSection"/></td>
                <td><button class="btn btn-primary" type="submit">Zmień</button></td>
              </tr>
            </table>
        </form>
      </div>
        {% endfor %}
        <div class="row">
          <div class="col"><h2>Dodaj nową sekcję</h2></div>
          <div class="col"><p>Tutaj możesz dodać nową sekcję</p></div>
        </div>
          <div class="row">
          <form action="/add_sections" method="POST">
            <table class="table">
              <tr>
                <td><input type="text" placeholder="nazwa" value="" name="nazwa" required/></td>
                <td><input type="text" placeholder="name" value="" name="name" required/></td>
                <td><textarea class="form-control" rows="5" placeholder="opis" name="opis" required></textarea></td>
                <td><textarea class="form-control" rows="5" placeholder="description" name="description" required></textarea></td>
                <td><label for="instrumentSection">Sekcja instrumentalna?</label><input type="checkbox" id="instrumentSection" name="instrumentSection"/></td>
                <td><button class="btn btn-primary" type="submit">Dodaj</button></td>
              </tr>
            </table>
        </form>
      </div>
      <div class="row">
        <div class="col"><h2>Dodaj instrument</h2></div>
      </div>
        <div class="row">
        <form action="/add_instrument" method="POST" id="add_instrument_form">
          <table class="table">
            <tr>
              <td><input type="text" placeholder="nazwa" value="" name="nazwa" required/></td>
              <td><input type="text" placeholder="name" value="" name="name" required/></td>
              <td><textarea class="form-control" rows="5" placeholder="opis" name="opis" required></textarea></td>
              <td><textarea class="form-control" rows="5" placeholder="description" name="description" required></textarea></td>
            </form>
            <td>
              <select name="section_id" form="add_instrument_form">
                <option value="1">Instrument perkusyjny</option>
                <option value="2">Instrument klawiszowy</option>
                <option value="3">Wyposażenie orkiestrowe</option>
              </select>
            </td>
            <td><button class="btn btn-primary" type="submit">Dodaj</button></td>
          </tr>
        </table>
      </div>
    </div>
    </div>
  </body>
</html>
